$blue-color: #083b6e;
$green-color: #086d66;
$pink-color: #b90e75;
$grey-color: #575766;
$accent: #17ff2b;


.projects-page {
    width: calc(100% - 100px);
    margin-left: 100px;
    margin-top: -700px;
    padding-bottom: 40px;
    

    h2 {
        font-size: 50px;
        color: #{$grey-color};
        margin-bottom: 2%;
        margin-left: 45%;
        opacity: 0;
        animation: fadeInDown 2s 1s;
        animation-fill-mode: forwards;

    }
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}