$blue-color: #083b6ed9;
$green-color: #086d66;
$pink-color: #b90e75;
$grey-color: #575766;
$accent: #17ff2b;

@keyframes skills-animation {
    0% {
        font-size: 42px;
        color: #{$accent};
    }

    100% {
        font-size: 45px;
        color: #{$blue-color};
    }
}

@keyframes skills-animation-mobile {
    0% {
        font-size: 34px;
        color: #{$accent};
    }

    100% {
        font-size: 36px;
        color: #{$blue-color};
    }
}


.skills-list {
    position: absolute;
    top: 10%;
    right: 10%;
    display: inline-flex;
    flex-direction: column;
    font-size: 45px;
    list-style: none;
    min-width: 10px;

    .skill {
        display: block;
        margin-bottom: 40px;
        color: #{$grey-color};
        animation: skills-animation 1.5s forwards;
        animation-delay: 0.7s;
    }

    #react,
    #node-icon,
    #js,
    #git,
    #css,
    #html {
        :hover {
            cursor: pointer;
            color: #{$pink-color};
        }
    }


    #html {
        animation-delay: 3.1s;
    }

    #css {
        animation-delay: 3.6s;
    }

    #react {
        animation-delay: 4.1s;
    }

    #js {
        animation-delay: 4.6s;
    }

    #git {
        animation-delay: 5.1s;
    }



}

@media only screen and (max-width: 800px) {
    .skills-list {
        opacity: 0;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .skills-list {
        flex-direction: row;
        transform: translateY(-90%);
        font-size: 36px;

        .skill {
            margin-left: 20px;
            animation: skills-animation-mobile 1.5s forwards;
            animation-delay: 0.7s;
            ;
        }
    }
}