$blue-color: #083b6e;
$green-color: #086d66;
$pink-color: #b90e75;
$grey-color: #464650d1;
$accent: #17ff2b;


@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        font-size: 65px;
        text-shadow: 0 0 1px #{$pink-color};
    }

    100% {
        text-shadow: 0 0 1px rgba(246, 49, 203, 0.244);
        font-size: 60px;
    }
}


.home-page {

    .certification-container {
        position: absolute;
        left: 12%;
        top: 2%;
        border: none;

        button {
            border: none;
            background: none;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 15px;
            color: #{$blue-color};
            text-decoration: underline dotted;
            text-decoration-thickness: 1px;
            letter-spacing: 1px;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .text-zone {
        position: absolute;
        left: 12%;
        top: 55%;
        transform: translateY(-50%);
        width: 55%;
        max-height: 90%;
        color: #{$grey-color};
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 0;
        font-weight: 600;

        .initial {
            font-family: 'Monoton', cursive;
            font-weight: 400;
            font-size: 55px;
            margin-left: 20px;
            animation: text-shadow-drop-center 1s both;
            animation-delay: 1.5s;
        }

        #y {
            margin-right: -8px;
        }
    }

    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        margin-top: 25px;
        font-size: 22px;
        letter-spacing: 2px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        color: black;
        line-height: 30px;
        width: 80%;
    }

    .right-side {
        display: flex;
        width: 50%;
        margin-left: 50%;
        margin-top: 1%;
    }

    .profile-pic {
        transform: translate(20%, 50%);

        img {
            width: 45%;

        }


    }

    .services {
        transform: translateX(-5%);
        margin-bottom: 40px;

        li {
            list-style: none;
            font-size: 20px;
            color: black;
            animation: pulse 1s both;
            animation-delay: 1.5s;

            &:hover {
                cursor: pointer;
                font-size: 22px;
            }
        }
    }

}