$blue-color: #083b6e;
$green-color: #086d66;
$pink-color: #b90e75;
$grey-color: #575766;
$accent: #17ff2b;

@keyframes background-animation {
  0% {
    background-image: url('../../assets/images/background.png')
  }
  
  40% {
    background-image: url('../../assets//images/background-2.png')
  }
  100% {
    background-image: url('../../assets/images/background.png');
  }
}

body {
  background-repeat: repeat-y;
  background-position: right 100px;
  background-size: 120px auto;
  animation: background-animation 2s forwards;
  animation-delay: 1.2s;
}


.nav-bar {
    background: #5757667f;
    width: 60px;
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 700px;
    height: 100%;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 50px;
            height: auto;
        }

    }
}

nav {
    display: block;
    text-align: center;
    position: sticky;
    transform: translateY(50%);
    margin-top: 50%;
    width: 100%;

    a {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 22px;
      color: #{$grey-color};
      display: block;
      line-height: 70px;
      height: 70px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #fff;
        font-weight: 600;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 1.5px;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #{$green-color};
      }
    }
  }

  @media only screen and (max-width: 800px) {
    body {
      animation: none;
    }
  }
  
  @media (orientation: portrait) {
    .nav-bar {
      min-height: 1000px;
    }
  }